{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <a href="{{ path('show_article') }}">Show article</a>
    <a href="{{ path('create_article') }}">Create article</a>
    <h1>CRUD Articles</h1>
{% endblock %}
