{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 class="text-center p-3">CRUD Articles</h1>
    <div class="m-lg-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque sit amet porttitor eget dolor.
        Id consectetur purus ut faucibus pulvinar elementum. Lorem ipsum dolor sit amet consectetur adipiscing. Suspendisse sed nisi lacus sed.
        Id eu nisl nunc mi ipsum faucibus. Imperdiet proin fermentum leo vel. Sit amet facilisis magna etiam.
        A diam maecenas sed enim. Maecenas sed enim ut sem viverra aliquet. Accumsan sit amet nulla facilisi morbi tempus iaculis urna.
        Velit dignissim sodales ut eu sem. Nunc faucibus a pellentesque sit amet. Eu mi bibendum neque egestas. Urna porttitor rhoncus dolor purus.
        Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
    </p>
    <p>Lectus urna duis convallis convallis tellus id interdum. Dignissim convallis aenean et tortor at.
        Tristique risus nec feugiat in fermentum. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit.
        Eu nisl nunc mi ipsum faucibus. Nunc sed velit dignissim sodales ut eu sem. Augue mauris augue neque gravida in fermentum.
        Integer eget aliquet nibh praesent tristique. Amet volutpat consequat mauris nunc congue nisi vitae.
        Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. Justo donec enim diam vulputate ut pharetra sit.
        Placerat orci nulla pellentesque dignissim enim. Venenatis tellus in metus vulputate.
        Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Nunc sed velit dignissim sodales ut.
    </p>
    </div>
{% endblock %}
