{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% block body %}
<div class="col-12 col-lg-4 form">
    <div class="bg-light shadow border rounded-lg p-4">
        <h1>Create Article</h1>
        {{ form(article_form) }}
    </div>
</div>

{% endblock %}
